<tr id="<%= dom_id(movie) %>" class="<%= dom_class(movie) %>">
  <td><%= movie.title %></td>
  <td><%= movie.text %></td>
  <td><%= movie.category %></td>
  <% if can_rate? %>
    <td>
      <% 1.upto(10) do |rate| %>
        <% if rate == movie.user_rate %>
          < <b> <%= rate %> </b> >
        <% else %>
          <%= link_to(
                rate,
                ratings_path('rating[movie_id]' => movie.id, 'rating[value]' => rate),
                method: :post, remote: true
              ) %>
        <% end %>
      <% end %>
    </td>
  <% end %>
  <td><%= number_with_precision(movie.avg_rating, precision: 2, significant: true, strip_insignificant_zeros: true) %></td>

  <td><%= link_to 'Show', movie %></td>
  <td><%= link_to 'Edit', edit_movie_path(movie) if can_manage? %></td>
  <td><%= link_to 'Destroy', movie, method: :delete, data: { confirm: 'Are you sure?' } if can_manage? %></td>
</tr>
