<div class="page-header">
  <h1><%= @movie.title.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Text:</dt>
  <dd><%= @movie.text %></dd>

  <dt>Category:</dt>
  <dd><%= @movie.category.titleize %></dd>

  <dt>Average Rating:</dt>
  <dd><%= @movie.avg_rating %> / <%= @movie.ratings_count %></dd>
</dl>

<hr>

<ul class="nav nav-pills float-right">
  <li class="nav-item ">
    <%= link_to 'Edit', edit_movie_path(@movie), class: ['nav-link'] %>
  </li>

  <li class="nav-item ">
    <%= link_to link_to 'Back', movies_path, class: ['nav-link'] %>
  </li>
</ul>
