<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

  <title>jtIMDB</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon-32.ico">
  <link rel="icon" type="image/png" sizes="144x1144"  href="/android-icon-144x144.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon_32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon_16.png">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/apple-touch-icon-144-precomposed.png">

  <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/head' %>
<div data-behavior="notices">
  <%= render 'layouts/notices', flash: flash %>
</div>

<div class="container">
  <%= yield %>
</div>
</body>
</html>
